.App {
  text-align: center;
}

.App-intro {
  font-size: 40px;
  font-family: Freight, HoeflerText-Black, Times New Roman, serif;
  color: #FFFFFF;
}

.main-container {
  border: solid #D3DAE3 2px;
  background: #FFFFFF;
  min-width: 400px;
  height: 30%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100px;
}
