@import 'constants';

.App {
  text-align: center;
}

.App-intro {
  font-size: 40px;
  font-family: Freight, HoeflerText-Black, Times New Roman, serif;
  color: #FFFFFF;
}

.main-container {
  border-radius: 100px;
  @include text-box;
}
