$box-font-color:  #a6a6a6;
$selectors-font-family: georgia;
$selectors-color: #f8f8f8;
$selectors-border-color: #a6a6a6;
$selectors-border-radius: 5px;
$text-box-border-color: #D3DAE3;
$text-box-background:  #FFFFFF;
$search-icon-color: #5f9ea0;

@mixin text-box {
  border: solid  $text-box-border-color 2px;
  background: $text-box-background;
  min-width: 400px;
  height: 30%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
